.toolbox-sw {
  .content__list {
    padding-top: 10px;
  }

  .content__list__item {
    text-align: left;
    padding   : 5px 15px;
    .bloq {
      position: relative;
    }
  }

  .toolbox__title {
    display: block;
    width  : calc(100% - 20px);
    float  : left;
  }
  .toolbox__title--color {
    height      : 100%;
    display     : block;
    width       : 10px;
    float       : left;
    margin-right: 10px;

    &.components {
      background-color: #ea6f6b;
    }

    &.functions {
      background-color: #f07d00;
    }

    &.variables {
      background-color: #e8b519;
    }

    &.codes {
      background-color: #8bb636;
    }

    &.maths {
      background-color: #3cc9ce;
    }

    &.texts {
      background-color: #20a4e4;
    }

    &.controls {
      background-color: #4b63b2;
    }

    &.logics {
      background-color: #ba4db9;
    }

    &.classes {
      background-color: #e30b9a;
    }

    &.zowi {
      background-color: #4e929b;
    }

    &.evolution {
      background-color: #94999C;
    }
  }
}

.btn--zowi {
  background-color: #60bcc9;
  color           : white;
}

.btn--evolution {
  background-color: #BABFC3;
  color           : white;
}
