.main {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;

	.content-region {
		position: absolute;
		left: 160px;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
	}

	.sidebar-region {
		position: absolute;
		width: 160px;
		top: 0;
		bottom: 0;
	}
}

.dialog-layer {
	z-index: 20;
	display: none;

	&.active {
		display: block;
	}
}

.message-layer {
	z-index: 999;
}