.project-region {
	margin-right: 80px;
	
	.name {
		color: #39426a;
		letter-spacing: 1px;
		line-height: 20px;
		font-size: 14px;
		margin-bottom: 15px;
	}

	input[type="button"] {
		background-color: #0b7bdc;
		border-radius: 5px;
		height: 42px;
		line-height: 42px;
		letter-spacing: 1.75px;
		color: white;
		float: left;
	}

	.new {
		width: 100px;
	}

	.boards {
		margin-left: 15px;
		border: 1px solid #c4d1dd;
		width: 280px;
		height: 42px;
		float: left;
		position: relative;

		.placeholder {
			display: block;
			cursor: pointer;
			padding: 8px 30px 8px 20px;
			height: 42px;
			position: relative;

			&:after {
				content: ' ';
				width: 0;
				height: 0;
				border: 8px solid transparent;
				border-top-color: #c4d1dd;
				position: absolute;
				top: 15px;
				right: 12px;
			}
		}

		.board-name {
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			color: #75828e;
			letter-spacing: 1.5px;
			float: left;
		}

		.board {
			margin-right: 20px;
			width: 42px;
			height: 24px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			float: left;
		}

		& > ul {
			z-index: 100;
			display: none;
			position: absolute;
			top: 42px;
			width: 100%;
			background-color: white;

			li {
				height: 42px;
				display: block;
				cursor: pointer;
				padding: 8px 30px 8px 20px;
				transition: background-color 0.2s;

				&:hover {
					background-color: #ccc;
				}
			}
		}

		&.active {
			.placeholder {
				&:after {
					border-top-color: transparent;
					border-bottom-color: #c4d1dd;
					top: 6px;
				}
			}

			& > ul {
				display: block;
			}
		}
	}

	.save {
		width: 60px;
		margin-left: 15px;
	}

	.upload {
		width: 60px;
		margin-left: 15px;
	}
}