.sidebar-region {
	background-color: #0b75d2;

	.top {
		padding-top: 20px;
		height: 160px;
		background-color: #0b7bdc;
		color: white;

		.logo {
			width: 72px;
			height: 72px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;

			display: block;

			& > i {
				line-height: 72px;
				font-size: 72px;
				color: white;
			}
		}

		.name {
			cursor: default;
			text-align: center;
			height: 24px;
			line-height: 24px;
			letter-spacing: 6px;
			font-size: 18px;
		}

		.url {
			cursor: default;
			text-align: center;
			font-size: 12px;
			letter-spacing: 1.33px;
		}
	}

	.center {
		margin-top: 20px;
	}

	.bottom {
		position: absolute;
		bottom: 20px;
		width: 100%;
	}

	& > ul > li {
		cursor: pointer;
		color: white;
		font-size: 16px;
		letter-spacing: 5.33px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		transition: background-color 0.2s;
		position: relative;

		&:hover {
			background-color: #0088ff;
		}

		&.active {
			background-color: #0088ff;

			&:after {
				display: block;
			}
		}

		&:after {
			display: none;
			position: absolute;
			content: ' ';
			width: 16px;
			height: 16px;
			top: calc(50% - 8px);
			right: 0;
			border: 8px transparent solid;
			border-right-color: white;
		}

		&.fold {
			&:after {
				border-right-color: #f7f9f9;
			}
		}
	}
}