.guide-highlight {
	z-index: 99;
	pointer-events: none;
	position: relative;
}

.guide-cover {
	display: none;

	.guide-step {
		display: none;

		&.active {
			display: block;
		}

		.part {
			position: absolute;
		}
	}

	.guide-skip {
		position: absolute;
		bottom: 135px;
		right: 163px;
		width: 72px;
		height: 30px;
		background: url('../image/guide/guide-skip.png') no-repeat center;
		background-size: contain;
		cursor: pointer;
	}

	.guide-step-1 {
		.part-1 {
			top: 86px;
			left: 76px;
			width: 72px;
			height: 22px;
			background: url('../image/guide/guide-arrow.png') no-repeat center;
			background-size: contain;
		}

		.part-2 {
			top: 76px;
			left: 167px;
			width: 404px;
			height: 46px;
			background: url('../image/guide/guide-step-1.png') no-repeat center;
			background-size: contain;
		}	
	}

	.guide-step-2 {
		.part-1 {
			top: 152px;
			left: 76px;
			width: 72px;
			height: 22px;
			background: url('../image/guide/guide-arrow.png') no-repeat center;
			background-size: contain;
		}

		.part-2 {
			top: 142px;
			left: 167px;
			width: 409px;
			height: 46px;
			background: url('../image/guide/guide-step-2.png') no-repeat center;
			background-size: contain;
		}
	}

	.guide-step-3 {
		.part-1 {
			top: 218px;
			left: 76px;
			width: 72px;
			height: 22px;
			background: url('../image/guide/guide-arrow.png') no-repeat center;
			background-size: contain;
		}

		.part-2 {
			top: 208px;
			left: 167px;
			width: 401px;
			height: 46px;
			background: url('../image/guide/guide-step-3.png') no-repeat center;
			background-size: contain;
		}
	}

	.guide-step-4 {
		.part-1 {
			top: 282px;
			left: 76px;
			width: 72px;
			height: 22px;
			background: url('../image/guide/guide-arrow.png') no-repeat center;
			background-size: contain;
		}

		.part-2 {
			top: 282px;
			left: 167px;
			width: 399px;
			height: 24px;
			background: url('../image/guide/guide-step-4.png') no-repeat center;
			background-size: contain;
		}
	}
}