.x-message {
	z-index: 99999;
	position: absolute;
	text-align: center;
	min-width: 150px;
	padding: 8px 24px 8px 12px;

	&.x-message-info {
		color: #316b8e;
		background-color: #d8edf7;
		border-color: #b9d5e2;
	}

	&.x-message-success {
		color: #477a40;
		background-color: #def0d7;
		border-color: #bad9ae;
	}

	&.x-message-warning {
		color: #836e3a;
		background-color: #fdf8e2;
		border-color: #eae3c2;
	}

	&.x-message-danger {
		color: #a74345;
		background-color: #f2dedf;
		border-color: #e4c1c3;
	}

	.x-message-close {
		cursor: pointer;
		position: absolute;
		right: 4px;

		&:hover {
			color: #ff9696;
		}
	}
}